@mixin bg-icon($url, $color) {
  $base-color: str-slice(inspect($color), 2);
  background-image: unquote('url("' + $url + "?fill=%23" + $base-color +'")');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
// Example of using
//.icon {
//  @include bg-icon('../assets/img/icons/svg/like.svg', $dark-grey);
//  width: 30px;
//  height: 30px;
//}


/* Centering mixin for absolutely positioned elements */

@mixin center($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}